page-style {
  .button-ios {
    border-radius: 15px;
    height: 1.8em;
    font-size: 1.6rem;
    color: #fff;
    background-color: #BBAB73;
    margin: 0.4rem 0.2rem;
    padding: 0 2em;
  }

  button#btn-scan-pin {
    width: 100px;
    margin: 0 auto;
    margin-top: 34px;
  }
}
