<ion-content padding id="page-pin">

  <ion-grid style="height: 100%;">

    <ion-row class="row">
      <ion-col col-12>
        <img id="logo" src="../../assets/img/logo2.png" />
      </ion-col>
      <ion-col col-12 class="cont-title">
        <span class="qr-title">{{ getActionTitle() }}</span>
      </ion-col>
      <ion-col col-12 class="pins">
        <ion-icon *ngFor="let pin of getPins()" [class.pin-off]="pin == false" [class.pin-on]="pin == true"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row class="row" id="keyboard">

      <ion-col class="number" col-4 *ngFor="let number of keyboard_numbers">
        <button round clear ion-button icon-only class="number-button" (click)="addPin(number)">
          <ion-icon class="number-pin">{{ number }}</ion-icon>
        </button>
      </ion-col>

      <ion-col class="number" col-4>
        <button round clear ion-button icon-only class="number-button" (click)="removePin()">
          <ion-icon name="backspace"></ion-icon>
        </button>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
