<app-header></app-header>
<ion-content padding id="page3" style="background: #F8F7EF !important;">
    <form [formGroup]="post">
    <ion-grid id="page-send" *ngFor="let data of carteiras"  >
      <ion-row>
        <ion-col col-4 class="info-title" text-left>
          ENVIAR
        </ion-col>
        <ion-col col-8>
          <img id="coin-selected" [src]="icons[coin]" />
          <ion-item>
            <ion-select class="select-itens" name="coin"  interface="action-sheet" cancelText="Cancelar" okText="OK">

              <ion-option value="0" selected>BITCOIN</ion-option>
              <!--<ion-option value="1">ETHEREUM</ion-option>-->
              <!--<ion-option value="2">REAL</ion-option>-->
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col col-4 class="info-title" text-left>
          DE
        </ion-col>
        <ion-col col-8 class="descriptions" class="carteira">
          {{data.carteira}}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4 class="info-title" text-left>
          PARA
        </ion-col>
        <ion-col col-8 class="descriptions">

     SELECIONE OU DIGITE O END.<ion-input type="text" name="endereco"  formControlName="endereco" [(ngModel)]="post.endereco"></ion-input>
            <!--<div *ngIf="myForm.get('endereco').valid">Carteira Inválida</div><br><br>-->
        </ion-col>
      </ion-row>

      <ion-row id="divider-row">
        <ion-col col-3 class="info-title-2" text-center>BTC</ion-col>
        <ion-col col-8 class="" text-center>
          <ion-input type="number" name="valor" style="text-align: center;"  formControlName="valor"  placeholder="0.00"[(ngModel)]="post.valor"></ion-input>
            <!--<div *ngIf="post.get('valor').valid">Valor Inválido</div><br><br>-->
        </ion-col>
        <ion-col col-3 class="info-title-2" text-center>BRL</ion-col>
        <!--<ion-col col-3 class="" text-center><input type="number" placeholder="0,00" /></ion-col>-->
          <ion-col col-8 class="" text-center>
              {{ (post.valor * cotacaoInfo || "0" ).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})   }}
          </ion-col>

      </ion-row>

      <ion-row>
        <ion-col col-12 text-center class="descriptions">
          {{saldoBitcoin}} (total disponível) - menos taxa 0,002336 BTC
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-select style="padding: 0 5px 0 0;" class="select-itens-body" name="taxa"   interface="action-sheet" cancelText="Cancelar" okText="OK">
              <ion-option value="0" selected>TAXA COMUM</ion-option>
              <!--<ion-option value="1">TAXA 2</ion-option>-->
              <!--<ion-option value="2">TAXA 3</ion-option>-->
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-6 class="descriptions">
            <p style="font-size: 10px;"> 0,00002336 BTC ( R$ 0,36 ) </p>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12 text-center>
          <button ion-button round id="btn-send"  (click)="EnviarPagamento()">enviar pagamento</button>


        </ion-col>
      </ion-row>

    </ion-grid>
    </form>
</ion-content>
