page-mining {
.title-hash{
  text-align: center;
  width: 100%;
  margin: 8px;
  font-size:14px;
}
  .hash-about{
    text-align: center;
    font-size:12px;
  }

  .texto {
    font-size: 13px;
    color: #BAAD74;
    width:100%;
    text-align: center;
    width: 100%;
    padding: 5px;
  }
  .principal {
    font-size: 18px;
    color: #797254;
    width:100%;
  }
  .bloco{
    text-align: center;
    width:100%;
    padding: 30px;
  }
}
